*{
  margin: 0;
  padding: 0;
}

/* REMOVE scroll global */
html, body {
  overflow: hidden;
  height: 100%;
}

html{
   scroll-behavior: smooth;
}

/* fundo continua normal */
body{
  background: linear-gradient(to right, #000000, #152331);
}

/* container principal */
#root {
  height: 100vh;
}

/* sections */
section {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth; /* suaviza interno */
}

/* esconde scrollbar */
section::-webkit-scrollbar {
  display: none;
}





/*Efeito reveal*/

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal:nth-child(1) { transition-delay: 0.1s; }
.reveal:nth-child(2) { transition-delay: 0.2s; }
.reveal:nth-child(3) { transition-delay: 0.3s; }
.reveal:nth-child(4) { transition-delay: 0.4s; }