*{
  margin: 0;
  padding: 0;
}

body{
 background: #132691;
background: linear-gradient(90deg, rgba(19, 38, 145, 1) 0%, rgba(11, 5, 33, 1) 100%, rgba(10, 3, 3, 1) 100%, rgba(34, 30, 82, 1) 100%);
}


