
#next-about{
    transition: 0.4s;
    background-color: transparent;
    opacity: 15%;
    margin-top: 5%;
    width: 100%;
    margin-bottom: -100px;
}

#next-about img{
    height: 100px;
   display: block;
    margin:  auto;
    opacity: 60%;
    background-color: transparent;
    background-size: cover;
}

#next-about:hover{
   background-color: gray;
}
