*{
    margin: 0;
    padding: 0;
}

#background-academic{
    margin-top: 2%;
    background-color: transparent;
    transition: 0.4s;
}

#background-academic:hover{
    background-color:  #212529;
}

#itens-academic{
    margin-left: 10%;

}

#first-logo{
    height: 100px !important;
    width: auto;
}

#second-logo{
    height: 65px;
    margin-top: 33px;
    width: auto;
}