*{
    margin: 0;
    padding: 0;
}

#background-academic{
    margin-top: 2%;
    background-color: transparent;
    transition: 0.4s;
   background: rgba(0, 123, 255, 0.15);
   backdrop-filter: blur(10px);
   border-radius: 30px;
}



#background-academic img {
    background: rgba(255,255,255,0.9);
    padding: 8px 18px;
}

#itens-academic{
    margin-left: 10%;

}

#first-logo{
    height: 80px; /* mantém menor */
    background: rgba(255,255,255,0.9);
    padding: 80px 40px; /* ajusta a “borda” */
    border-radius: 10px;
    margin-bottom: 6%;
}

#second-logo{
    height: 100px; /* mantém menor */
    background: rgba(255,255,255,0.9);
    padding: 20px 40px; /* ajusta a “borda” */
    border-radius: 10px;
    margin-top: -2%;
}

#next-project{
    margin-top: 6%;
    transition: 0.4s;
    background-color: transparent;
    opacity: 15%;
    margin-bottom: 0;
}

#next-project img{
    height: 100px;
   display: block;
    margin: 0 auto;
    opacity: 60%;
    background-color: transparent;
    background-size: cover;
}

#next-project:hover{
   background-color: gray;
}