*{
    margin: 0;
    padding: 0;
}

.footer-details{
    padding-bottom: -10%;
}




.copyright{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    height: 150px;
    display: block;
    margin-top: 2%;
}

.itens{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: start;
  
}


.item-btn {
  border: 1px solid #6c757d;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 8px;
  transition: 0.3s;
  cursor: pointer;
}

.item-btn:hover{
  background-color: #6c757d;
  transform: scale(1.15) translateY(-5px);
  color: white;
}


.item-btn:hover a{
  color: white !important;
}


