*{
    padding: 0;
    margin: 0;
}



.footer{
    background-color: #212529;
    padding: 150%;
    
}

#footer-logo{
    height: 200px;
}


#social-medias ul {
  justify-content: flex-start !important;
  margin-left: -70%;
}

#social-medias li {
  width: 75px;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(108, 140, 255, 0.3);

  transition: all 0.3s ease;
  cursor: pointer;

  box-shadow: 0 0 8px rgba(108, 140, 255, 0.25);
}

#social-medias li:hover {
  transform: translateY(-6px) scale(1.05);

  border: 1px solid #6C8CFF;

  box-shadow: 
    0 0 12px rgba(108, 140, 255, 0.6),
    0 0 25px rgba(108, 140, 255, 0.4),
    inset 0 0 10px rgba(108, 140, 255, 0.2);
}

#social-medias img{
  width: 35px;
  height: 35px;

  /* deixa os ícones brancos */
  filter: brightness(0) invert(1);

  transition: 0.3s ease;
}

#social-medias h1{
  color: #6C8CFF;
  letter-spacing: 4px;
  font-size: 150%;

  /* glow suave */
  text-shadow: 0 0 8px rgba(108, 140, 255, 0.6);
   margin-left: -65%;
   margin-bottom: 5%;
}





#footer-texts h5{
    display: grid;
    width: 45%;
    text-align: start;
    margin-top: -5%;
    margin-left: 8%;
}


#line-footer{
   margin-left:35%;
   margin-top: -17%;

}

#line-footer img{
  height: 300px;
}


#final-footer{
    margin-left: 70%;
}

#final-footer h3{
    color: #d3d3d3;
     text-shadow: 0 0 8px rgba(108, 140, 255, 0.6);
     font-family: monospace;
     text-align: start;
     font-size: 20px;
     margin-left: -14% ;
     margin-top: -6%;
     width: 120%;
     padding-bottom: 50%;
}


.footer-line {
  border: none;
  height: 1px;
  background-color: white;
  margin: 20px 0;
  opacity: 0.2; /* deixa mais elegante */
}