*{
    margin: 0;
    padding: 0;
}

#body-intro{
    display: flex;
    margin-bottom: 8%;
}

#name{
    margin-top: 10%;
    margin-left: 8%;   
}

#profile img{
    width: 600px;
    height: 600px;
    object-fit: cover;
   
}


#dev{
    color: white;
    margin-left: 8%;
}


#next-intro{
    transition: 0.4s;
    background-color: transparent;
    opacity: 15%;
    margin-bottom: 0;
}

#next-intro img{
    height: 100px;
   display: block;
    margin: 0 auto;
    opacity: 60%;
    background-color: transparent;
    background-size: cover;
}

#next-intro:hover{
   background-color: gray;
}