*{
    margin: 0;
    padding: 0;
}

#project-title{
    text-align: center;
    margin-bottom: 4%;
}

.images{
    height: 300px;
}


#next-talk{
    transition: 0.4s;
    background-color: transparent;
    opacity: 15%;
    margin-top: 5%;
    width: 100%;
    margin-bottom: -100px;
}

#next-talk img{
    height: 100px;
   display: block;
    margin:  auto;
    opacity: 60%;
    background-color: transparent;
    background-size: cover;
}

#next-talk:hover{
   background-color: gray;
}

