body{
    color:white
}



#tec-title{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1%;
    margin-top: 3%;
  
}


#top-langs{
    font-size: x-large;
    text-align: center;
    margin-top: 3%;

}

#other-langs{
    font-size: x-large;
    text-align: center;
}


#top-langs-img{
    display: flex;
   justify-content: center;
}

#top-langs-img img {
    height: 130px;
    max-height: 250px;
    min-height: 60px;

    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 2%;
}

#top-langs-img img:hover {
    transform: scale(1.15) translateY(-5px);
}


#other-langs-img{
    display: flex;
   justify-content: center;
   margin-bottom: 7%;
}

#other-langs-img img{
    height: 120px;
    max-height: 250px;
    min-height: 60px;

    transition: transform 0.3s ease;
    cursor: pointer;
}

#other-langs-img img:hover {
    transform: scale(1.15) translateY(-5px);
}



#next-tec{
    transition: 0.4s;
    background-color: transparent;
    opacity: 15%;
}

#next-tec img{
    height: 100px;
   display: block;
    margin: 0 auto;
    opacity: 60%;
    background-color: transparent;
    background-size: cover;
}

#next-tec:hover{
   background-color: gray;
}


.line2{
    margin-bottom: 100px;
}